option_settings:
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:healthreporting:system:
    HealthCheckSuccessThreshold: Ok
  aws:elasticbeanstalk:healthreporting:system:
    HealthCheckURL: /health
  aws:elasticbeanstalk:healthreporting:system:
    HealthCheckGracePeriod: 300
  aws:elasticbeanstalk:healthreporting:system:
    HealthCheckInterval: 30
  aws:elasticbeanstalk:healthreporting:system:
    HealthCheckTimeout: 5
